@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

* {
    margin: 0;
    padding: 0;
}

.hr {
    margin-left: 40px;
    margin-right: 40px;
}
/* Meals */

.meals {
    display: flex;
    margin: 20px;
    padding: 20px;
}

.meals-story {
    display: flex;
    background-image: url("../images/crunch-paper.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    padding: 15px;
    box-shadow: -10px 10px 10px rgb(143, 133, 133);
}

.meals-info {
    display: flex;
    margin-left: 20px;
    background: rgb(233, 227, 227);
    padding: 10px;
}

.meals-head {
    font-size: 40px;
    font-family: 'Bevan', cursive;
    padding-right: 20px;
    color: rgb(129, 14, 14);
}

.meals-img {
    object-fit: contain;
    height: 400px;
    width: 400px;
    border: 5px solid rgb(129, 14, 14);
}

.meals-ingredients {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 1.5;
}

.meals-paragraph {
    flex: 0.5;
    font-size: 30px;;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1120px) {
    .meals {
      flex-wrap: wrap;
    }
    .meals-story {
        display: flex;
        justify-content: space-evenly;
        width: 1000px;
    }
    .meals-info {
        margin-left: 0;
        margin-top: 45px;
    }
  }

/* Drinks */

.drinks {
    display: flex;
    margin:20px;
    padding: 20px;
}

.drinks-story {
    display: flex;
    background-image: url("../images/crunch-paper.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    padding: 15px;
    box-shadow: -10px 10px 10px rgb(143, 133, 133);
}

.drinks-info {
    display: flex;
    margin-left: 20px;
    background: rgb(233, 227, 227);
    padding: 10px;
}

.drinks-head {
    font-size: 40px;
    font-family: 'Bevan', cursive;
    padding-right: 20px;
    color: rgb(129, 14, 14);
}

.drinks-img {
    object-fit: contain;
    height: 400px;
    width: 400px;
    border: 5px solid rgb(129, 14, 14);
}

.drinks-ingredients {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 1.5;
}

.drinks-paragraph {
    flex: 0.5;
    font-size: 30px;;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1120px) {
    .drinks {
      flex-wrap: wrap;
    }
    .drinks-story {
        display: flex;
        justify-content: space-evenly;
        width: 1000px;
    }
    .drinks-info {
        margin-left: 0;
        margin-top: 45px;
    }
  }

.buttondiv {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
}

.button {
    color: white;
    background-color: maroon;
    height: 75px;
    width: 1000px;
    font-size: 20px;
    margin-left: 10px;
    transition: 0.3s;
}

.go-back {
    color: white;
    background-color: maroon;
    height: 75px;
    width: 1000px;
    font-size: 20px;
    margin-right: 10px;
    transition: 0.3s;
}

button:hover {
    opacity: 50%;
}
