* {
    box-sizing: border-box;
  }

body {
    margin: 0px;
  }

.grid-container {
   display: grid;
   grid-template-columns: repeat(2,1fr);
   padding-right: 30px;
   padding-left: 30px;
}

#reset.card-footer {
    background-color:maroon;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              margin: 0;
              position: inherit;
              top: 75%;
              left: 75%;
              font-size: 16px;
              margin: 0 100px 0 100px;
              cursor: pointer;
}

.grid-meal {
text-align:start; 
background-color: rgb(248, 197, 163); 
box-shadow: 3px 4px 3px 2px #888888; 
padding: 30px;
}

img {
    border: 5px solid maroon;
}

.h2 {
    margin: 0px
}
@media screen and (max-width: 1000px) {
.grid-container {
    display: block;
    padding: 50px;
    align-items: center;
    width: auto;
    margin: auto;
}
.grid-meal {
     align-items: center;
     padding-left: 50%;
     width: auto;
    
 }
}